In [40]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly_express as px

In [6]:
import pandas as pd

# Ruta al archivo .gz
gz_file_path = 'res/calendar.csv.gz'

# Leer el archivo CSV comprimido directamente como DataFrame
gz_calendar= pd.read_csv(gz_file_path, compression='gzip')

gz_listings=pd.read_csv('res/listings.csv.gz',compression='gzip')

gz_reviews=pd.read_csv('res/reviews.csv.gz',compression='gzip')

df_listings=pd.read_csv('res/listings.csv')

df_neighbourhoods=pd.read_csv('res/neighbourhoods.csv')

df_reviews=pd.read_csv('res/reviews.csv')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_7352\3770857086.py:7: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  gz_calendar= pd.read_csv(gz_file_path, compression='gzip')

In [60]:
print(gz_calendar.shape)
gz_calendar.head(5)

(3686136, 7)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3078404,2024-06-29,f,"$1,500.00",NaN,7.0,20.0
1,3078404,2024-06-30,f,"$1,500.00",NaN,7.0,20.0
2,3078404,2024-07-01,f,"$1,500.00",NaN,7.0,20.0
3,3078404,2024-07-02,f,"$1,500.00",NaN,7.0,20.0
4,3078404,2024-07-03,f,"$1,500.00",NaN,7.0,20.0

In [13]:
gz_calendar.isnull().sum()

listing_id              0
date                    0
available               0
price                   0
adjusted_price    3684311
minimum_nights          2
maximum_nights          2
dtype: int64

In [15]:
print(gz_listings.shape)
gz_listings.sample(5)

(10099, 75)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
5226,906126491576527535,https://www.airbnb.com/rooms/906126491576527535,20240629155744,2024-06-30,previous scrape,Leilighet sentralt på Løkka med parkering,In this place your family can stay close to ev...,NaN,https://a0.muscache.com/pictures/68906317-bd0b...,301240530,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
4472,857345931200127284,https://www.airbnb.com/rooms/857345931200127284,20240629155744,2024-06-29,city scrape,Detached house with facilities and sunny condi...,"The home has a kitchen-dining room, with space...",The property is located quite far in a quiet c...,https://a0.muscache.com/pictures/miso/Hosting-...,242491721,...,5.0,5.0,5.0,NaN,f,3,1,2,0,1.00
8857,1148699156264063996,https://www.airbnb.com/rooms/1148699156264063996,20240629155744,2024-06-29,city scrape,Solrikt ved sjøen i Oslo,In this place you have access to west-facing p...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,81470390,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
7812,1089265046788934330,https://www.airbnb.com/rooms/1089265046788934330,20240629155744,2024-06-29,city scrape,Hus med solrik hage og utsikt,Welcome to Abildsø's best view! Newly renovate...,Abildsø is a quiet neighborhood in the heart o...,https://a0.muscache.com/pictures/miso/Hosting-...,57656275,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
8482,1128482433296477360,https://www.airbnb.com/rooms/1128482433296477360,20240629155744,2024-06-29,city scrape,Room in central Oslo,"Welcome to our beautiful apartment, located in...",NaN,https://a0.muscache.com/pictures/hosting/Hosti...,537751867,...,5.0,5.0,5.0,NaN,t,6,2,4,0,0.85

In [105]:
comparison=(gz_listings['id']==df_listings['id'])
mismatched_ids = gz_listings[~comparison]
print(mismatched_ids)

Empty DataFrame
Columns: [id, listing_url, scrape_id, last_scraped, source, name, description, neighborhood_overview, picture_url, host_id, host_url, host_name, host_since, host_location, host_about, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_thumbnail_url, host_picture_url, host_neighbourhood, host_listings_count, host_total_listings_count, host_verifications, host_has_profile_pic, host_identity_verified, neighbourhood, neighbourhood_cleansed, neighbourhood_group_cleansed, latitude, longitude, property_type, room_type, accommodates, bathrooms, bathrooms_text, bedrooms, beds, amenities, price, minimum_nights, maximum_nights, minimum_minimum_nights, maximum_minimum_nights, minimum_maximum_nights, maximum_maximum_nights, minimum_nights_avg_ntm, maximum_nights_avg_ntm, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, license, instant_bookable, calculated_host_listings_count, calculated_host_listings_count_entire_homes, calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms, reviews_per_month]
Index: []

[0 rows x 75 columns]

In [ ]:
gz_listings.isnull().sum().sort_values(ascending=False)/

neighbourhood_group_cleansed    10099
license                         10099
calendar_updated                10099
host_neighbourhood               8832
host_about                       6632
                                ...
maximum_maximum_nights              0
minimum_nights_avg_ntm              0
maximum_nights_avg_ntm              0
host_picture_url                    0
id                                  0
Length: 75, dtype: int64

In [84]:
nulos_por_columna = gz_listings.isnull().sum()

# Filtrar las columnas con más de un valor nulo
columnas_con_mas_de_un_nulo = nulos_por_columna[nulos_por_columna > 1]

print("Columnas con más de un valor nulo:")
print((columnas_con_mas_de_un_nulo.sort_values(ascending=False)/gz_listings.shape[0]*100).round(2))

Columnas con más de un valor nulo:
calendar_updated                100.00
license                         100.00
neighbourhood_group_cleansed    100.00
host_neighbourhood               87.45
host_about                       65.67
neighbourhood                    62.99
neighborhood_overview            62.99
review_scores_value              27.12
review_scores_cleanliness        27.11
review_scores_accuracy           27.11
review_scores_checkin            27.11
review_scores_location           27.11
review_scores_communication      27.11
review_scores_rating             26.87
last_review                      26.87
first_review                     26.87
reviews_per_month                26.87
host_response_rate               20.96
host_response_time               20.96
host_location                    16.86
host_acceptance_rate             12.96
price                            12.37
bathrooms                        12.03
beds                             11.98
has_availability                  3.86
description                       3.60
bedrooms                          1.71
host_is_superhost                 1.03
bathrooms_text                    0.06
dtype: float64

In [100]:
columnas_comunes=set(df_listings.columns.intersection(gz_listings.columns))
(columnas_comunes)

{'availability_365',
 'calculated_host_listings_count',
 'host_id',
 'host_name',
 'id',
 'last_review',
 'latitude',
 'license',
 'longitude',
 'minimum_nights',
 'name',
 'neighbourhood',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'price',
 'reviews_per_month',
 'room_type'}

In [127]:
comparison=(gz_listings['id']==df_listings['id'])
mismatched_ids = gz_listings[~comparison]
print(mismatched_ids)

Empty DataFrame
Columns: [id, listing_url, scrape_id, last_scraped, source, name, description, neighborhood_overview, picture_url, host_id, host_url, host_name, host_since, host_location, host_about, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_thumbnail_url, host_picture_url, host_neighbourhood, host_listings_count, host_total_listings_count, host_verifications, host_has_profile_pic, host_identity_verified, neighbourhood, neighbourhood_cleansed, neighbourhood_group_cleansed, latitude, longitude, property_type, room_type, accommodates, bathrooms, bathrooms_text, bedrooms, beds, amenities, price, minimum_nights, maximum_nights, minimum_minimum_nights, maximum_minimum_nights, minimum_maximum_nights, maximum_maximum_nights, minimum_nights_avg_ntm, maximum_nights_avg_ntm, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, license, instant_bookable, calculated_host_listings_count, calculated_host_listings_count_entire_homes, calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms, reviews_per_month]
Index: []

[0 rows x 75 columns]

In [115]:
df_listings.isnull().sum()/df_listings.shape[0]*100

id                                  0.000000
name                                0.000000
host_id                             0.000000
host_name                           0.000000
neighbourhood_group               100.000000
neighbourhood                       0.000000
latitude                            0.000000
longitude                           0.000000
room_type                           0.000000
price                              12.367561
minimum_nights                      0.000000
number_of_reviews                   0.000000
last_review                        26.873948
reviews_per_month                  26.873948
calculated_host_listings_count      0.000000
availability_365                    0.000000
number_of_reviews_ltm               0.000000
license                           100.000000
dtype: float64

In [65]:
print(gz_listings.shape)
print(df_listings.shape)

(10099, 75)
(10099, 18)

In [24]:
print(gz_reviews.shape)
print(df_reviews.shape)

(167633, 6)
(167633, 2)

In [29]:
gz_reviews.tail(5)

,listing_id,id,date,reviewer_id,reviewer_name,comments
167628,1183753819897232363,1189703805177120244,2024-06-29,75041796,Markus,Nice area and super friendly hosts
167629,1184837452215505435,1188316132042491707,2024-06-27,335832683,Fredrik S,Kjempefin og ren leilighet som svarte til forv...
167630,1185718401945226016,1189790756831786313,2024-06-29,154327292,Gintare,"The location of apparent was really good, for ..."
167631,1186297768378069929,1188249982689884858,2024-06-27,146662985,Dino,"Utrolig sjarmerende, moderne og hyggelig leili..."
167632,1187069965476775838,1189701971811902867,2024-06-29,132894544,Sindre,Perfekt sted i Oslo. Nærme parker og restauran...

In [30]:
df_reviews.tail(5)

                 listing_id        date
167628  1183753819897232363  2024-06-29
167629  1184837452215505435  2024-06-27
167630  1185718401945226016  2024-06-29
167631  1186297768378069929  2024-06-27
167632  1187069965476775838  2024-06-29

In [37]:
dataset_reviews=pd.merge(gz_reviews,df_reviews)
print(dataset_reviews.shape)
print(dataset_reviews.isnull().sum())

(168179, 6)
listing_id        0
id                0
date              0
reviewer_id       0
reviewer_name     0
comments         13
dtype: int64

In [42]:
dataset_reviews.dropna(inplace=True)